.photoItem{
    cursor: pointer;
    p{
        padding: 20px 16px;
    }
}

.modalImage{
    position: relative;
    img{
        &:last-child{
            position: absolute;
            top: -20px;
            right: -20px;
            cursor: pointer;
        }
    }
}